html, body {
  height: 100%;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
body {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.svg-circle{
  margin: 0 auto;
}
h2, h3, h4 {
  text-align: center;
  color: #333;
}
h1{
  text-align: center;
  color: #00e500;
}
h1 a {
  font-size: 16px;
  color: #333;
}
.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes drawCircle {
  0% {
    stroke-dashoffset: 300px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCheck {
  0% {
    stroke-dashoffset: 35px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawLine {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#successAnimationCircle, #failureAnimationCircle {
  stroke-dasharray: 300px 300px;
  stroke: #00e500;
}
#successAnimationCheck, #failureAnimationCheck {
  stroke-dasharray: 35px 35px;
  stroke: #00e500;
}
#successAnimation.animated, #failureAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle, #failureAnimation.animated #successAnimationCircle, #successAnimation.animated #failureAnimationCircle, #failureAnimation.animated #failureAnimationCircle {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle;
}
#successAnimation.animated #successAnimationCheck, #failureAnimation.animated #successAnimationCheck {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck;
}
#successAnimation.animated .failureAnimationCheckLine, #failureAnimation.animated .failureAnimationCheckLine {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: drawLine 1s cubic-bezier(1, 0.2, 0.1, 1) forwards;
}
#animate {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  bottom: 100px;
  color: #00e500;
  left: 50%;
  outline: 0;
  padding: 10px 30px;
  position: absolute;
  transform: translateX(-50%);
}
#animate:active {
  background: rgba(255, 255, 255, 0.1);
}
